body {
/*background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 12%, rgba(165,195,232,1) 68%, rgba(125,161,200,1) 89%);*/
background:white;
}

.flex-container {
  display: flex;
 
}

.flex-container > div {
 flex-grow: 4;
}


.container {
  display: flex; 
  justify-content:right;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
 
}



h1 {
  color: black;
}

.center {
  text-align: center;
  margin: auto;
  width: 650px;
  height: 500px;
  border-style: dotted;
  border-color: blue;
}

div.size_color {
  font-size: 150%;
  color: black;
   text-align: center;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.textboxclass {
height: 27px;
width: 260px;
}

.tableclass{
 text-align: center; 
  padding: 0.25em;
}
